		*{
			font-family: roboto, sans-serif;
		}
		.btn-warning{
			background-color: #F76211 !important;
			border-color: #F76211 !important;
		}
		.btn-warning:hover{
			background-color: #F76211 !important;
			
		}
		.form-check-label span{
			color: #0FD8E4;
		}
		.font{
			font-family: "roboto" ,arial, halvetica, sans-serif;
			font-size: 66px;
		}
		.border{
			border-color: #9D9D9D;
			border-radius: 5px;
		}
		h4{
			font-size: 16px !important;
		}
		.width{
			width: 150px;
		}